.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}

.container-songs-admin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: max-content;
  box-sizing: border-box;

}

