<div class="home-page">
  <div class="container page">
    <div class="row">


        <div *ngIf = "admin != true">
          <h1 class = "home-title">Most Viewed Songs</h1>
          <app-songs [limit] = "10" [views] = "'desc'" [config] = "listConfig"></app-songs>
        </div>
        
        <!-- <div *ngIf = "admin != true" style = "margin-left: 150px;">
          <h1 class = "home-title">Recent Songs</h1>
          <app-songs [release_date] = "'desc'" [config] = "listConfig"></app-songs>
        </div> -->

        <div class = "container-songs-admin" *ngIf="admin == true">
          <app-songs-admin></app-songs-admin>
        </div>


        <!-- <app-article-list [limit]="10" [config]="listConfig"></app-article-list> -->
        

      <!-- <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag})"
               class="tag-default tag-pill">
               {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
