<div class="home-page">

  <owl-carousel-o *ngIf="admin != true" style="height: 400px;" [options]="customOptions">
    <ng-template carouselSlide>
      <img style="margin: -20% 0" src="/assets/images/portada1.png">
    </ng-template>
    <ng-template carouselSlide>
      <img style="margin: -20% 0" src="/assets/images/portada2.jpeg">
    </ng-template>
    <ng-template carouselSlide>
      <img style="margin: -20% 0" src="/assets/images/portada3.jpg">
    </ng-template>
  </owl-carousel-o>

  <div class="container page">
    <div *ngIf="admin == true">
      <div>
        <app-panel></app-panel>
      </div>
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a (click)="setTabTo('songs')" class="nav-link">
                Songs
              </a>
            </li>
            <li class="nav-item">
              <a (click)="setTabTo('users')" class="nav-link">
                Users
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="row">


        <div *ngIf="admin != true">
          <h1 class="home-title">Most Viewed Songs</h1>
          <app-songs [limit]="10" [views]="'desc'" [config]="listConfig"></app-songs>
        </div>

        <!-- <div *ngIf = "admin != true" style = "margin-left: 150px;">
          <h1 class = "home-title">Recent Songs</h1>
          <app-songs [release_date] = "'desc'" [config] = "listConfig"></app-songs>
        </div> -->



        <div class="container-songs-admin" *ngIf="admin == true">
          
          <section>
            <app-songs-admin *ngIf="data == 'songs'"></app-songs-admin>
            <app-users-admin *ngIf="data == 'users'"></app-users-admin>
          </section>
        </div>


        <!-- <app-article-list [limit]="10" [config]="listConfig"></app-article-list> -->


        <!-- <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag})"
               class="tag-default tag-pill">
               {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div> -->

      </div>
    </div>
  </div>