<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="songForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Song Title" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="artist"
                type="text"
                placeholder="Artist" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="release_date"
                type="text"
                placeholder="Song Release" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="album"
                type="text"
                placeholder="Song Album" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="duration"
                type="number"
                placeholder="Song Duration" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="genre"
                type="text"
                placeholder="Song Genre" />
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Publish Article
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
